<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473452498226-1k3t4eedosr4e9nh3da6qqo3eui7932n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473452498226-1k3t4eedosr4e9nh3da6qqo3eui7932n</string>
	<key>API_KEY</key>
	<string>AIzaSyDSk6fqJUl6ymLeRuClXiM1qGh2HjGSLN4</string>
	<key>GCM_SENDER_ID</key>
	<string>473452498226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wasteApp</string>
	<key>PROJECT_ID</key>
	<string>wasteapp-93fd6</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteapp-93fd6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473452498226:ios:744012ac20a2d595199b2b</string>
</dict>
</plist>